<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=@Url.Action("Index", "Home")>Home</a></li>
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=@Url.Action("About", "Home")>About</a></li>
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=@Url.Action("List", "User")>Users</a></li>
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=@Url.Action("Contact", "Home")>Contact</a></li>