@model blog_site.Models.PostListModel

@{
    ViewBag.Title = "List";
}

<!-- Page Header-->
<header class="masthead" style="background-color:gray; padding:45px;">
</header>

<!-- Main Content-->
<div class="container">
    <div class="row text-capitalize" style="font-size: 13px;">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Post id</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Autore</th>
                    <th scope="col">Azioni</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>@post.PostId</td>
                        <td><b>@post.Titolo</b></td>
                        <td>@post.PostUser.Username</td>
                        <td>
                            <a href=@Url.Action("Detail", "BackendPost", new { id = post.PostId}) class="btn btn-primary" style="font-size:12px; font-weight:500; padding:5px 10px">Dettagli</a>
                            <a href=@Url.Action("Edit", "BackendPost", new { id = post.PostId}) class="btn btn-success" style="font-size:12px; font-weight:500; padding:5px 10px">Modifica</a>
                            <a href=@Url.Action("Delete", "BackendPost", new { id = post.PostId}) class="btn btn-danger" style="font-size:12px; font-weight:500; padding:5px 10px">Elimina</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>