
@{
    ViewBag.Title = "SinglePost";
}

@foreach (var post in Model.Posts)
{
    <!-- Post preview-->
    <div class="post-preview">
        <h3 class="post-title text-capitalize">@post.Title</h3>
        <div class="post-subtitle"><a href="/Post/Detail/@post.Id">Leggi l'articolo</a></div>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
}